.container{
    position: fixed;
    left: 35%;
    height: 128px;
    width: 400px;
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
    background-color: rgba(54, 141, 163, 0.474);
    border-radius: 10px;
    border: 5px solid;
    border-color: gray;
}

.btns{
    margin-top: 0;
    padding-top: 0;
    color: rgb(89, 187, 240);
    background-color: rgb(25, 187, 28);
}

.btn-1{
    margin-right: 5px;
}